html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/manana.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

img {
    width: 20em;
    padding: 4em;
}